body{ 
    font-family: tahoma;
    font-size: 11pt;
    
}
th{
    font-size: 16pt;
    background: #2750d6;
    color: white;
}

table{
    border-collapse: collapse;
    border: 1px solid #ffffff;
    background: #74cfeb;  
}

td{
    padding: 5px;
}

input{
    border: 1px dotted #90ee90;
    padding: 5px;
    background: #e0ffff;  
}
input:focus{
    border: 1px solid #0000ff;
    background: #adff2f;
}

textarea{
    border: 1px dotted #90ee90;
    padding: 5px;
    background: #e0ffff;
}

textarea:focus{
    border: 1px solid #0000ff;
    background: #adff2f;
}
button{
    border: 1px solid #20b2aa;
    background: #2750d6;
    padding: 5px;
    margin-right: 5px;
    color: white;
}